<a href="https://colab.research.google.com/github/Divyagaikwadd/DSBD_Code/blob/main/Assignment%20No%201/DataWrangling1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Import all the required Python Libraries.**

In [ ]:
import numpy as np
import pandas as pd

**2. Load the Dataset into pandas dataframe.**

In [ ]:
from google.colab import files
import io
data=files.upload()

Saving stdrecords.csv to stdrecords.csv

In [ ]:
df=pd.read_csv("stdrecords.csv")
df

    Rollno Name  Gender  Marks
0        1   aa  female     65
1        2   bb    male     45
2        3   cc  female     76
3        4   dd    male     88
4        5   ee    male     99
5        6   ff  female     76
6        7   gg    male     91
7        8   hh    male     65
8        9   ii  female     82
9       10   jj    male     63
10      11   kk  female     56
11      12   ll    male     23
12      13   mm    male     92
13      14   nn    male     76
14      15   oo  female     76
15      16   pp    male     67
16      17   qq  female     56
17      18   rr    male     65
18      19   ss  female     89
19      20   tt  female     55

In [ ]:
df.dtypes

Rollno     int64
Name      object
Gender    object
Marks      int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rollno  20 non-null     int64
 1   Name    20 non-null     object
 2   Gender  20 non-null     object
 3   Marks   20 non-null     int64
dtypes: int64(2), object(2)
memory usage: 768.0+ bytes

**df.head() without passing parameter value it gives first 5 records**

In [ ]:
df.head(5)

   Rollno Name  Gender  Marks
0       1   aa  female     65
1       2   bb    male     45
2       3   cc  female     76
3       4   dd    male     88
4       5   ee    male     99

**df.tail() without passing parameter value it gives last 5 records**

In [ ]:
df.tail()

    Rollno Name  Gender  Marks
15      16   pp    male     67
16      17   qq  female     56
17      18   rr    male     65
18      19   ss  female     89
19      20   tt  female     55

**3.Data Preprocessing: check for missing values in the data using pandas isnull(), describe()
function to get some initial statistics. Provide variable descriptions. Types of variables etc.
Check the dimensions of the data frame.**

In [ ]:
df.isnull()

    Rollno   Name  Gender  Marks
0    False  False   False  False
1    False  False   False  False
2    False  False   False  False
3    False  False   False  False
4    False  False   False  False
5    False  False   False  False
6    False  False   False  False
7    False  False   False  False
8    False  False   False  False
9    False  False   False  False
10   False  False   False  False
11   False  False   False  False
12   False  False   False  False
13   False  False   False  False
14   False  False   False  False
15   False  False   False  False
16   False  False   False  False
17   False  False   False  False
18   False  False   False  False
19   False  False   False  False

In [ ]:
df.describe()

         Rollno      Marks
count  20.00000  20.000000
mean   10.50000  70.250000
std     5.91608  18.240715
min     1.00000  23.000000
25%     5.75000  61.250000
50%    10.50000  71.500000
75%    15.25000  83.500000
max    20.00000  99.000000

In [ ]:
df.shape

(20, 4)

**4.Data Formatting and Data Normalization: Summarize the types of variables by checking
the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the
data set. If variables are not in the correct data type, apply proper type conversions.**

In [ ]:
df.dtypes

Rollno     int64
Name      object
Gender    object
Marks      int64
dtype: object

Here converting int type of Marks into float

In [ ]:
df["Marks"]=df["Marks"].astype('float')
df.dtypes

Rollno      int64
Name       object
Gender     object
Marks     float64
dtype: object

In [ ]:
print(df)

    Rollno Name  Gender  Marks
0        1   aa  female   65.0
1        2   bb    male   45.0
2        3   cc  female   76.0
3        4   dd    male   88.0
4        5   ee    male   99.0
5        6   ff  female   76.0
6        7   gg    male   91.0
7        8   hh    male   65.0
8        9   ii  female   82.0
9       10   jj    male   63.0
10      11   kk  female   56.0
11      12   ll    male   23.0
12      13   mm    male   92.0
13      14   nn    male   76.0
14      15   oo  female   76.0
15      16   pp    male   67.0
16      17   qq  female   56.0
17      18   rr    male   65.0
18      19   ss  female   89.0
19      20   tt  female   55.0

**5.Turn categorical variables into quantitative variables in Python.**

In [ ]:
pd.get_dummies(df['Gender'])

    female  male
0        1     0
1        0     1
2        1     0
3        0     1
4        0     1
5        1     0
6        0     1
7        0     1
8        1     0
9        0     1
10       1     0
11       0     1
12       0     1
13       0     1
14       1     0
15       0     1
16       1     0
17       0     1
18       1     0
19       1     0